#content
  trips(ng-if='!routeParams.view', trips='trips', select-Trip='selectTrip(id)', delete-Trip='deleteTrip(id)', update-Trip='updateTrip(id, value)')
  raw(ng-if='routeParams.view == "raw"', trip='trip', load-More-Data='loadMoreData(id, props)')
  har(ng-if='routeParams.view == "har"', trip='trip', load-More-Data='loadMoreData(id, props)')
